openapi: 3.1.0

info:
  version: 1.0.0
  title: Student Scroll API
  description: |
    This is the REST API powering Student Scroll.
    It's hosted on the app's domain at the /api endpoint.
  license:
    name: MIT

servers:
  - url: https://studentscroll.net/api/v1

paths:
  /signin:
    post:
      summary: Post credentials to sign in.
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Authentication was successful.
          content:
            application/json:
              schema:
                type: string
                value: The JWT.
        "400":
          description: Credentials could not be read.
        "401":
          description: Authentication was unsuccessful.

  # API Sum
  # students
  # 1. /students Get all atudents. Post new student.
  # 2. /students/{studentID} Get student. Put updated student. Delete student.
  # 3. /students/{studentID}/settings Get settings. Put updated settings.
  # 4. /students/{studentID}/profile Get profile. Put updated profile.
  # 5. /students/{studentID}/profile/followers Get followers.
  # 6. /students/{studentID}/profile/followers/{followerID} Post new follower. Delete follower.
  # 7. /students/{studentID}/profile/follows/{followID} Get follows. Post new follow. Delete follow.
  # chats
  # 1. /chats Get all chats. Post new chat.
  # 2. /chats/{chatID} Get chat. Put updated chat. Delete chat.
  # 3. /chats/{chatID}/students Get students in chat.
  # 4. /chats/{chatID}/students/{studentID} Get if student is in chat. Post new student to chat. Delete student from chat.
  # 5. /chats/{chatID}/messages Get all messages in chat. Post new message in chat.
  # 6. /chats/{chatID}/messages/{messageID} Put updated message to chat. Delete message from chat.
  # posts
  # 1. /posts Get all posts. Post new post.
  # 2. /posts/{postID} Get post. Put updated post. Delete post.
  # 3. /posts/{postID}/comments Get all comments of post. Post new comment to post.
  # 4. /posts/{postID}/comments/{commentID} Get comment of post. Put updated comment to post. Delete comment from post.

  # students
  # 1. /students Get all atudents. Post new student.
  /students:
    get:
      summary: Get all students.
      parameters:
        - name: limit
          in: query
        - name: email
          in: query
        - name: name
          in: query
        - name: description
          in: query
        - name: latitude
          in: query
        - name: longitude
          in: query
    post:
      summary: Post new student.

  # 2. /students/{studentID} Get student. Put updated student. Delete student.
  /students/{studentID}:
    get:
      summary: Get student.
      parameters:
        - name: studentID
          in: path
    put:
      summary: Put updated student.
      parameters:
        - name: studentID
          in: path
    delete:
      summary: Delete student.
      parameters:
        - name: studentID
          in: path

  # 3. /students/{studentID}/settings Get settings. Put updated settings.
  /students/{studentID}/settings:
    get:
      summary: Get settings.
      parameters:
        - name: studentID
          in: path
    put:
      summary: Put updated settings.
      parameters:
        - name: studentID
          in: path
          
  # 4. /students/{studentID}/profile Get profile. Put updated profile.
  /students/{studentID}/profile:
    get:
      summary: Get profile.
      parameters:
        - name: studentID
          in: path
    put:
      summary: Put updated profile.
      parameters:
        - name: studentID
          in: path

  # 5. /students/{studentID}/profile/followers Get followers.
  /students/{studentID}/profile/followers:
    get:
      summary: Get followers.
      parameters:
        - name: studentID
          in: path

  # 6. /students/{studentID}/profile/followers/{followerID} Post new follower. Delete follower.
  /students/{studentID}/profile/followers/{followerID}:
    post:
      summary: Post new follower.
      parameters:
        - name: studentID
          in: path
        - name: followerID
          in: path
    delete:
      summary: Delete follower.
      parameters:
        - name: studentID
          in: path
        - name: followerID
          in: path

  # 7. /students/{studentID}/profile/follows/{followID} Get follows. Post new follow. Delete follow.
  /students/{studentID}/profile/follows/{followID}:
    get:
      summary: Get follows.
      parameters:
        - name: studentID
          in: path
        - name: followID
          in: path
    post:
      summary: Post new follow.
      parameters:
        - name: studentID
          in: path
        - name: followID
          in: path
    delete:
      summary: Delete follow
      parameters:
        - name: studentID
          in: path
        - name: followID
          in: path

  # chats
  # 1. /chats Get all chats. Post new chat.
  /chats:
    get:
      summary: Get all chats.
      parameters:
        - name: limit
          in: query
        - name: studentID
          in: query
        - name: title
          in: query
    post:
      summary: Post new chat.

  # 2. /chats/{chatID} Get chat. Put updated chat. Delete chat.
  /chats/{chatID}:
    get:
      summary: Get chat.
      parameters:
        - name: chatID
          in: path
    put:
      summary: Put updated chat.
      parameters:
        - name: chatID
          in: path
    delete:
      summary: Delete chat.
      parameters:
        - name: chatID
          in: path

  # 3. /chats/{chatID}/students Get students in chat.
  /chats/{chatID}/students:
    get:
      summary: Get students in chat.
      parameters:
        - name: chatID
          in: path

  # 4. /chats/{chatID}/students/{studentID} Get if student is in chat. Post new student to chat. Delete student from chat.
  /chats/{chatID}/students/{studentID}:
    head:
      summary: Get if student is in chat.
      parameters:
        - name: chatID
          in: path
        - name: studentID
          in: path
    post:
      summary: Post new student to chat.
      parameters:
        - name: chatID
          in: path
        - name: studentID
          in: path
    delete:
      summary: Delete student from chat.
      parameters:
        - name: chatID
          in: path
        - name: studentID
          in: path

  # 5. /chats/{chatID}/messages Get all messages in chat. Post new message in chat.
  /chats/{chatID}/messages:
    get:
      summary: Get all messages in chat.
      parameters:
        - name: chatID
          in: path
    post:
      summary: Post new message in chat.
      parameters:
        - name: chatID
          in: path

  # 6. /chats/{chatID}/messages/{messageID} Put updated message to chat. Delete message from chat.
  /chats/{chatID}/messages/{messageID}:
    put:
      summary: Put updated message to chat.
      parameters:
        - name: chatID
          in: path
        - name: messageID
          in: path
    delete:
      summary: Delete message from chat.
      parameters:
        - name: chatID
          in: path
        - name: messageID
          in: path

  # posts
  # 1. /posts Get all posts. Post new post.
  /posts:
    get:
      summary: Get all posts.
      parameters:
        - name: limit
          in: query
        - name: studentID
          in: query
        - name: tags
          in: query
        - name: title
          in: query
        - name: description
          in: query
        - name: latitude
          in: query
        - name: longitude
          in: query
        - name: date
          in: query
        - name: query
          in: query
    post:
      summary: Post new post.

  # 2. /posts/{postID} Get post. Put updated post. Delete post.
  /posts/{postID}:
    get:
      summary: Get post.
      parameters:
        - name: postID
          in: path
    put:
      summary: Put updated post.
      parameters:
        - name: postID
          in: path
    delete:
      summary: Delete post.
      parameters:
        - name: postID
          in: path

  # 3. /posts/{postID}/comments Get all comments of post. Post new comment to post.
  /posts/{postID}/comments:
    get:
      summary: Get all comments of post.
      parameters:
        - name: postID
          in: path
    post:
      summary: Post new comment to post.
      parameters:
        - name: postID
          in: path

  # 4. /posts/{postID}/comments/{commentID} Get comment of post. Put updated comment to post. Delete comment from post.
  /posts/{postID}/comments/{commentID}:
    get:
      summary: Get comment of post.
      parameters:
        - name: postID
          in: path
        - name: commentID
          in: path
    put:
      summary: Put updated comment to post.
      parameters:
        - name: postID
          in: path
        - name: commentID
          in: path
    delete:
      summary: Delete comment from post.
      parameters:
        - name: postID
          in: path
        - name: commentID
          in: path
